Repository boostcamp-2020/Project01-C-User-Event-Collector, pull requests merged in 2020-11, with the labels that each got.

#2 프로젝트 설정
  iOS/MiniVIBE/.swiftlint.yml
  iOS/MiniVIBE/MiniVIBE.xcworkspace/contents.xcworkspacedata
  iOS/MiniVIBE/MiniVIBE.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/Contents.json
  iOS/MiniVIBE/MiniVIBE/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/Info.plist
  iOS/MiniVIBE/MiniVIBE/MiniVIBE.xcdatamodeld/.xccurrentversion
  iOS/MiniVIBE/MiniVIBE/MiniVIBE.xcdatamodeld/MiniVIBE.xcdatamodel/contents
  iOS/MiniVIBE/MiniVIBE/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/Persistence.swift
  iOS/MiniVIBE/MiniVIBE/Preview Content/Preview Assets.xcassets/Contents.json
  iOS/MiniVIBE/MiniVIBETests/Info.plist
  iOS/MiniVIBE/MiniVIBETests/MiniVIBETests.swift
  iOS/MiniVIBE/Podfile
  iOS/MiniVIBE/Podfile.lock
Labels: Chore, PairProgramming, iOS

#5 CI를 위한 GitAction 설정
  .github/workflows/ios.yml
Labels: Chore, Test, iOS

#6 GitAction Test Script 수정
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
Labels: Fix, Test, iOS

#24 스플래시 이미지, 앱 아이콘 설정
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/Contents.json
  iOS/MiniVIBE/MiniVIBE/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/Info.plist
  iOS/MiniVIBE/MiniVIBE/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/Persistence.swift
  iOS/MiniVIBE/Podfile.lock
Labels: Feat, PairProgramming, iOS

#25 assets 폴더 추가
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/1024.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/114.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/120.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/180.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/29.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/40.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/57.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/58.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/60.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/80.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/87.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/splash.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/splash.imageset/splash-1.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/splash.imageset/splash-2.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/splash.imageset/splash.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/splashBackground.colorset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Info.plist
Labels: Fix, PairProgramming, iOS

#36 HomeHeaderView UI, HomeSummarySection UI 추가
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection1.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection1.imageset/KakaoTalk_Photo_2020-11-23-16-16-51.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection10.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection10.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-9.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection11.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection11.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-10.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection12.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection12.imageset/KakaoTalk_Photo_2020-11-23-16-26-1.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection2.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection2.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-1.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection3.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection3.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-2.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection4.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection4.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-3.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection5.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection5.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-4.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection6.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection6.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-5.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection7.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection7.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-6.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection8.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection8.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-7.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection9.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/MainSection/MainSection9.imageset/KakaoTalk_Photo_2020-11-23-16-24-18-8.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/VIBEPink.colorset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Common/Extension/Color+vibePink.swift
  iOS/MiniVIBE/MiniVIBE/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeSummarySection/HomeSummaryItem.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeSummarySection/HomeSummarySectionItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeSummarySection/HomeSummarySectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/Info.plist
  iOS/MiniVIBE/MiniVIBE/MiniVIBEApp.swift
  iOS/MiniVIBE/Podfile
  iOS/MiniVIBE/Podfile.lock
Labels: Feat, iOS

#38 홈 탭 UI 구현
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Magazine/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Magazine/mag-dummy1.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Magazine/mag-dummy1.imageset/mag-dummy1.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Magazine/mag-dummy2.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Magazine/mag-dummy2.imageset/mag-dummy2.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Magazine/mag-dummy3.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Magazine/mag-dummy3.imageset/mag-dummy3.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/NewAlbum/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/NewAlbum/newAlbum-dummy1.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/NewAlbum/newAlbum-dummy1.imageset/newAlbum-dummy1.jpg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/NewAlbum/newAlbum-dummy2.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/NewAlbum/newAlbum-dummy2.imageset/newAlbum-dummy2.jpg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/NewAlbum/newAlbum-dummy3.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/NewAlbum/newAlbum-dummy3.imageset/newAlbum-dummy3.jpg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/home-now.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/home-now.imageset/home-now.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/now-dummy1.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/now-dummy1.imageset/now-dummy1.jpeg
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/now-dummy2.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/now-dummy2.imageset/now-dummy2.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/now-dummy3.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/Now/now-dummy3.imageset/now-dummy3.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/VibeRecommend/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/VibeRecommend/vibe-dummy1.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/VibeRecommend/vibe-dummy1.imageset/vibe-dummy1.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/VibeRecommend/vibe-dummy2.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/VibeRecommend/vibe-dummy2.imageset/vibe-dummy2.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/VibeRecommend/vibe-dummy3.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeView/VibeRecommend/vibe-dummy3.imageset/vibe-dummy3.png
  iOS/MiniVIBE/MiniVIBE/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeFooterView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeMagazineSection/HomeMagazineItem.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeMagazineSection/HomeMagazineItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeMagazineSection/HomeMagazineSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNewAlbum/HomeNewAlbumItem.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNewAlbum/HomeNewAlbumItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNewAlbum/HomeNewAlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNowSection/HomeNowReplayItem.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNowSection/HomeNowSectionItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNowSection/HomeNowSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeVibeRecommendSection/HomeVibeRecommendItem.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeVibeRecommendSection/HomeVibeRecommendItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeVibeRecommendSection/HomeVibeRecommendSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeView.swift
Labels: Feat, iOS

#39 DJStationSection UI 추가
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeDJStationSection/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeDJStationSection/HomeDJStationSection1.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeDJStationSection/HomeDJStationSection1.imageset/mood_1_NowHot.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeDJStationSection/HomeDJStationSection2.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeDJStationSection/HomeDJStationSection2.imageset/mood_2_Hip.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeDJStationSection/HomeDJStationSection3.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomeDJStationSection/HomeDJStationSection3.imageset/mood_3_Happy.png
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeDJStationSection/HomeDJStationSectionItem.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeDJStationSection/HomeDJStationSectionItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeDJStationSection/HomeDJStationSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNewAlbum/HomeNewAlbumItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNewAlbum/HomeNewAlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomePlayListSection/HomePlayListSectionItem.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomePlayListSection/HomePlayListSectionItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomePlayListSection/HomePlayListSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeView.swift
Labels: iOS

#40 [iOS] Feat: 데이터에셋 추가
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/ArtistSection/Artists.imageset/Artists.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomePlayListSection/HomePlayListSection2.imageset/HomePlayListSection2.png
  iOS/MiniVIBE/MiniVIBE/Assets.xcassets/HomePlayListSection/HomePlayListSection3.imageset/HomePlayListSection3.png
Labels: Feat, iOS

#42 SqureItemView -> ImageItemView 변경
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Common/View/ImageItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeDJStationSection/HomeDJStationItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeMagazineSection/HomeMagazineItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNewAlbum/HomeNewAlbumItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomePlayListSection/HomePlayListItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeSummarySection/HomeSummaryItemView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeVibeRecommendSection/HomeVibeRecommendItemView.swift
Labels: Feat, iOS

#43 DefaultPadding 수정
  iOS/MiniVIBE/MiniVIBE/Common/Extension/CGFloat+defaultValues.swift
  iOS/MiniVIBE/MiniVIBE/Common/Extension/CGFloat+oneItemImageWidth.swift
  iOS/MiniVIBE/MiniVIBE/Common/Extension/CGFloat+twoItemImageWidth.swift
  iOS/MiniVIBE/MiniVIBE/Common/View/MoreHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/Common/View/SectionScrollView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeDJStationSection/HomeDJStationSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeMagazineSection/HomeMagazineSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNewAlbum/HomeNewAlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomePlayListSection/HomePlayListSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeVibeRecommendSection/HomeVibeRecommendSectionView.swift
Labels: Feat, iOS

#52 백엔드 개발, 배포 환경 설정
  .eslintrc.js
  .gitignore
  backend/ecosystem.config.js
  backend/ormconfig.js
  backend/ormconfig.ts
  backend/package.json
  backend/src/app.ts
  backend/src/entities/MP3.ts
  backend/src/entities/Subscribe.ts
  backend/src/entities/User.ts
Labels: BE

#50 Playing Bar UI, VIBE 추천 플레이리스트 상세 화면, 뮤직 플레이어 모달 뷰 UI 구현
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Common/View/DetailHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/Common/View/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/Common/View/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeNowSection/HomeNowSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeVibeRecommendSection/HomeVibeRecommendDetail/HomeVibeRecommendDetailView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeVibeRecommendSection/HomeVibeRecommendSectionView.swift
  iOS/MiniVIBE/MiniVIBE/HomeView/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/Models/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Models/Song.swift
Labels: Feat, iOS
