Repository boostcamp-2020/Project01-C-User-Event-Collector, pull requests merged in 2020-12, with the labels that each got.

#53 네이버 아이디 로그인 구현
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/entities/User.ts
  backend/src/passport/index.ts
  backend/src/passport/jwt.ts
  backend/src/passport/naver.ts
  backend/src/route/auth/controller.ts
  backend/src/route/auth/index.ts
  backend/src/route/index.ts
  backend/src/route/sample/index.ts
Labels: BE

#65 [FE & BE] Fixed Bugs
  backend/src/route/library/album/index.ts
  backend/tsconfig.json
  frontend/src/components/Template/Library/index.tsx
  frontend/src/pages/Library/MyArtist/index.tsx
  frontend/src/pages/Library/MyMixtape/index.tsx
  frontend/src/pages/Library/MyPlaylist/index.tsx
  frontend/src/pages/Library/MyTrack/index.tsx
Labels: BE, FE, Fix, Web

#63 Network 레이어 구현 및 테스트 코드 작성
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Utilities/Networking.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/RequestProviding.swift
  iOS/MiniVIBE/MiniVIBETests/MiniVIBETests.swift
  iOS/MiniVIBE/MiniVIBETests/MockRequest.swift
  iOS/MiniVIBE/MiniVIBETests/NetworkError+Equatable.swift
Labels: Feat, Test, iOS

#68 [BE & FE] 주요 API 구현 & Data Fetch Test
  .github/workflows/web.yml
  backend/ormconfig.js
  backend/src/entities/Album.ts
  backend/src/entities/Artist.ts
  backend/src/entities/Genre.ts
  backend/src/entities/Playlist.ts
  backend/src/entities/Track.ts
  backend/src/route/album/controller.ts
  backend/src/route/album/index.ts
  backend/src/route/artist/controller.ts
  backend/src/route/artist/index.ts
  backend/src/route/index.ts
  backend/src/route/library/album/controller.ts
  backend/src/route/library/album/index.ts
  backend/src/route/library/artist/controller.ts
  backend/src/route/library/artist/index.ts
  backend/src/route/library/index.ts
  backend/src/route/library/playlist/controller.ts
  backend/src/route/library/playlist/index.ts
  backend/src/route/library/track/controller.ts
  backend/src/route/library/track/index.ts
  backend/src/route/log/controller.ts
  backend/src/route/sample/controller.ts
  backend/src/route/track/controller.ts
  backend/src/route/track/index.ts
  frontend/pages/chart.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/library/mp3/index.tsx
  frontend/pages/library/tracks/index.tsx
  frontend/src/components/ArtistList/index.tsx
  frontend/src/components/Common/Card/ArtistCard/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/NavList/index.tsx
  frontend/src/pages/Library/MyAlbum/index.tsx
  frontend/src/pages/Library/MyArtist/index.tsx
  frontend/src/pages/Library/MyMP3/index.tsx
  frontend/src/pages/Library/MyTrack/index.tsx
Labels: BE, FE, Feat, PairProgramming, Web

#67 이벤트 CoreData 저장 및 불러오기 구현
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/MiniVIBE.xcdatamodeld/MiniVIBE.xcdatamodel/contents
  iOS/MiniVIBE/MiniVIBE/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/Persistence.swift
  iOS/MiniVIBE/MiniVIBE/Repository/DBRepository.swift
Labels: Feat, iOS

#69 [FE] 동적 라우팅 기능 구현 & useSWR 테스트
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/artist/[id].tsx
  frontend/pages/index.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/library/mixtapes/index.tsx
  frontend/pages/library/mp3/index.tsx
  frontend/pages/library/tracks/index.tsx
  frontend/pages/today.tsx
  frontend/src/components/Common/Card/ArtistCard/index.tsx
  frontend/src/components/Common/TrackItem/index.tsx
  frontend/src/pages/Library/MyTrack/index.tsx
Labels: FE, Feat, question

#78 [FE & BE] 로그인 버튼 임시 구현 & API 예외 처리 추가
  backend/src/route/album/controller.ts
  backend/src/route/artist/controller.ts
  backend/src/route/auth/controller.ts
  backend/src/route/track/controller.ts
  frontend/src/components/Layout/SideBar/NavBar/index.tsx
Labels: BE, FE

#84 [WEB] 빌드 오류 해결
  frontend/pages/library/tracks/index.tsx
  frontend/src/pages/Library/MyTrack/index.tsx
Labels: Fix, Web

#89 Merge Dev
  iOS/MiniVIBE/MiniVIBE/HomeView.swift
Labels: Merge, PairProgramming, iOS

#90 Update README
  iOS/README.md
Labels: docs, iOS

#91 UI 리팩토링 및 UI 구현 및 아키텍쳐 설계
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Injected/DependencyInjector.swift
  iOS/MiniVIBE/MiniVIBE/Models/Album.swift
  iOS/MiniVIBE/MiniVIBE/Models/Magazine.swift
  iOS/MiniVIBE/MiniVIBE/Models/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Models/PlayList.swift
  iOS/MiniVIBE/MiniVIBE/Models/Song.swift
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/BillBoardHot100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/BillBoardKPop100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/Billboard200AlbumsSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/DomesticRiseSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/NewAlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/OverseasRise2YearsAgoSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/OverseasRiseSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/SearchSongTop100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/TodayTop100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/VIBEKaraokeTop100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/DetailHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/ImageItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/MoreHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/PlayShuffleHeaderButton.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/RankChangeView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/SectionScrollView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGirdView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/ FiveRowSongGridViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlayListMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlayListSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlayListSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeMagazineSection/HomeMagazineItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeMagazineSection/HomeMagazineItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeMagazineSection/HomeMagazineSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeNewAlbum/HomeNewAlbumItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeNewAlbum/HomeNewAlbumItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeNewAlbum/HomeNewAlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomePlayListSection/HomePlayListItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomePlayListSection/HomePlayListItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomePlayListSection/HomePlayListSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeRecentlyPlayedSongs/HomeRecentlyPlayedSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeSummarySection/HomeSummarySectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeVibeRecommendSection/HomeVibeRecommendDetail/HomeVibeRecommendDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeVibeRecommendSection/HomeVibeRecommendItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeVibeRecommendSection/HomeVibeRecommendItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeVibeRecommendSection/HomeVibeRecommendSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/README.md
Labels: 📍 Feat, 📱 iOS

#92 UI 리팩토링 및 UI 구현 및 아키텍쳐 설계 (iOS 브런치로..)
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Injected/DependencyInjector.swift
  iOS/MiniVIBE/MiniVIBE/Models/Album.swift
  iOS/MiniVIBE/MiniVIBE/Models/Magazine.swift
  iOS/MiniVIBE/MiniVIBE/Models/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Models/PlayList.swift
  iOS/MiniVIBE/MiniVIBE/Models/Song.swift
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/BillBoardHot100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/BillBoardKPop100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/Billboard200AlbumsSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/DomesticRiseSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/NewAlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/OverseasRise2YearsAgoSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/OverseasRiseSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/SearchSongTop100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/TodayTop100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/VIBEKaraokeTop100SectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/DetailHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/ImageItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/MoreHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/PlayShuffleHeaderButton.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/RankChangeView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/SectionScrollView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGirdView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/ FiveRowSongGridViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlayListMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlayListSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlayListSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeMagazineSection/HomeMagazineItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeMagazineSection/HomeMagazineItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeMagazineSection/HomeMagazineSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeNewAlbum/HomeNewAlbumItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeNewAlbum/HomeNewAlbumItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeNewAlbum/HomeNewAlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomePlayListSection/HomePlayListItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomePlayListSection/HomePlayListItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomePlayListSection/HomePlayListSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeRecentlyPlayedSongs/HomeRecentlyPlayedSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeSummarySection/HomeSummarySectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeVibeRecommendSection/HomeVibeRecommendDetail/HomeVibeRecommendDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeVibeRecommendSection/HomeVibeRecommendItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeVibeRecommendSection/HomeVibeRecommendItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeVibeRecommendSection/HomeVibeRecommendSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/README.md
Labels: 📍 Feat, 📱 iOS, 🧥 refactor

#106 플레이리스트 상세화면, 검색탭 UI 구현, MockItemFactory 생성
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/MockItemFactory.swift
  iOS/MiniVIBE/MiniVIBE/Models/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Models/Playlist.swift
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/120-1.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/DetailHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/ImageItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/ FiveRowSongGridViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlayListSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeDJStationSection/HomeDJStationSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeMagazineSection/HomeMagazineSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeNowSection/HomeNowSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeSummarySection/HomeSummarySectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/GenreSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/NewsItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/README.md
Labels: 📍 Feat, 📱 iOS

#109 테스트용 가짜서버 UI, 기능구현 및 비동기 Image View + 이미지 캐시 구현
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/LocalEvent.swift
  iOS/MiniVIBE/MiniVIBE/Models/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Persistence/Persistence.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/FakeServerRepository.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/LocalRepository.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/ServerRepository.swift
  iOS/MiniVIBE/MiniVIBE/Services/EventRequest.swift
  iOS/MiniVIBE/MiniVIBE/Services/EventService.swift
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/AsyncImageView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/ FiveRowSongGridViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/NewsItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/MockServerView/MockServerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/AsyncImageHelper/AsyncImageCache.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/AsyncImageHelper/AsyncImageNetwork.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/MockItemFactory.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/Network.swift
Labels: 📍 Feat, 📱 iOS

#126 [WEB] dataFetch 방식 변경 & Common 컴포넌트 (Carousel, Section, MagCard) 구현 & Magazine API 구현
  backend/src/entities/Album.ts
  backend/src/entities/Mag.ts
  backend/src/entities/Track.ts
  backend/src/route/index.ts
  backend/src/route/mag/controller.ts
  backend/src/route/mag/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/album/[id].tsx
  frontend/pages/artist/[id].tsx
  frontend/pages/library/albums/index.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/library/playlists/index.tsx
  frontend/pages/library/tracks/index.tsx
  frontend/pages/today.tsx
  frontend/pages/track/[id].tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/components/Common/Card/AlbumCard/index.tsx
  frontend/src/components/Common/Card/ArtistCard/index.tsx
  frontend/src/components/Common/Card/MagCard/index.tsx
  frontend/src/components/Common/Card/PlaylistCard/index.tsx
  frontend/src/components/Common/Carousel/index.tsx
  frontend/src/components/Common/CircleImage/index.tsx
  frontend/src/components/Common/Section/index.tsx
  frontend/src/components/Template/Detail/index.tsx
  frontend/src/hooks/useFetch.js
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/Detail/Album/index.tsx
  frontend/src/pages/Detail/Artist/index.tsx
  frontend/src/pages/Detail/Track/index.tsx
  frontend/src/pages/Today/index.tsx
  frontend/src/styles/themes.ts
  frontend/src/utils/unifyMetaData.ts
  frontend/tsconfig.json
Labels: 🎨 style, 👩‍💻 Web, 👾 frontend, 📍 Feat, 📡 backend

#128 이벤트 방출 기능 구현, 보관함 탭 구현
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/Artist.swift
  iOS/MiniVIBE/MiniVIBE/Models/CDEvent+CoreDataClass.swift
  iOS/MiniVIBE/MiniVIBE/Models/CDEvent+CoreDataProperties.swift
  iOS/MiniVIBE/MiniVIBE/Models/Event.swift
  iOS/MiniVIBE/MiniVIBE/Persistence/MiniVIBE.xcdatamodeld/MiniVIBE.xcdatamodel/contents
  iOS/MiniVIBE/MiniVIBE/Persistence/Persistence.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/FakeServerRepository.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/LocalRepository.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/ServerRepository.swift
  iOS/MiniVIBE/MiniVIBE/Services/EventService.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+emitEvent.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeDJStationSection/HomeDJStaionDetail/HomeDJStationDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/HomeView/HomeView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/MockServerView/MockServerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/MockItemFactory.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/Reachability.swift
Labels: 📍 Feat, 📱 iOS

#132 [WEB] Playbar, Today 페이지 컴포넌트 UI 구현 & get/megazine API 구현
  backend/src/route/artist/controller.ts
  backend/src/route/artist/index.ts
  backend/src/route/index.ts
  backend/src/route/playlist/controller.ts
  backend/src/route/playlist/index.ts
  frontend/pages/today.tsx
  frontend/src/components/AlbumList/index.tsx
  frontend/src/components/ArtistList/index.tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/components/Common/Card/AlbumCard/index.tsx
  frontend/src/components/Common/Card/ArtistCard/index.tsx
  frontend/src/components/Common/Card/MagCard/index.tsx
  frontend/src/components/Common/Card/PlaylistCard/index.tsx
  frontend/src/components/Common/Carousel/index.tsx
  frontend/src/components/Common/MagTag/index.tsx
  frontend/src/components/Common/MagTopItem/index.tsx
  frontend/src/components/Common/PlayTrackItem/index.tsx
  frontend/src/components/Common/Section/index.tsx
  frontend/src/components/Layout/PlayBar/index.tsx
  frontend/src/components/Layout/SideBar/Header/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/NavList/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/components/PlaylistList/index.tsx
  frontend/src/components/Template/Content/index.tsx
  frontend/src/components/Template/Detail/index.tsx
  frontend/src/components/Template/Library/index.tsx
  frontend/src/pages/DJStation/index.tsx
  frontend/src/pages/Today/index.tsx
  frontend/src/styles/themes.ts
Labels: ⚡️API, 🎨 style, 👾 frontend, 📍 Feat, 📡 backend

#133 [BE] 로그 스키마 수정 & get Album API에 트랙정보 추가
  backend/src/models/Log.ts
  backend/src/route/album/controller.ts
  frontend/src/components/Common/Card/MagCard/index.tsx
Labels: ⚡️API, 👩‍💻 Web, 📍 Feat, 📡 backend

#138 [BE] localhost 배포주소로변경
  frontend/src/api/index.tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/hooks/useFetch.ts
Labels: 👩‍💻 Web, 📡 backend

#139 [WEB] Auth 웹/모바일 분기처리 & Authorization 오류 수정 & Log schema 속성 추가
  backend/src/app.ts
  backend/src/models/Log.ts
  backend/src/passport/jwt.ts
  backend/src/route/auth/controller.ts
  backend/src/route/log/controller.ts
  backend/src/route/log/index.ts
  frontend/src/api/index.tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/components/Common/Card/MagCard/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/NavList/index.tsx
  frontend/src/pages/Today/index.tsx
Labels: ⚡️API, 👩‍💻 Web, 📡 backend, 🛠 fix

#142 [WEB] api 함수 분리 & jwt Authenticate 오류 수정 & movePage관련 컴포넌트 이벤트 로깅
  backend/src/route/log/index.ts
  backend/src/route/track/index.ts
  backend/src/route/users/controller.ts
  backend/src/route/users/index.ts
  frontend/pages/_app.tsx
  frontend/pages/magazines/[id].tsx
  frontend/src/api/index.tsx
  frontend/src/components/Common/A/index.tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/components/Common/Card/AlbumCard/index.tsx
  frontend/src/components/Common/Card/ArtistCard/index.tsx
  frontend/src/components/Common/Card/MagCard/index.tsx
  frontend/src/components/Common/Card/PlaylistCard/index.tsx
  frontend/src/components/Common/Carousel/index.tsx
  frontend/src/components/Common/Dropdown/index.tsx
  frontend/src/components/Common/MagTopItem/index.tsx
  frontend/src/components/Common/Section/index.tsx
  frontend/src/components/Common/TrackItem/index.tsx
  frontend/src/components/Layout/SideBar/Header/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/index.tsx
  frontend/src/context/auth.tsx
  frontend/src/hooks/createEventHandler.tsx
  frontend/src/hooks/useEventHandler.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/Today/index.tsx
  frontend/src/utils/unifyMetaData.ts
Labels: ⚡️API, 👩‍💻 Web, 👾 frontend, 📡 backend, 🛠 fix

#141 Coredata 파라미터 저장 구현
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/Event.swift
  iOS/MiniVIBE/MiniVIBE/Persistence/CDEvent+CoreDataClass.swift
  iOS/MiniVIBE/MiniVIBE/Persistence/CDEvent+CoreDataProperties.swift
  iOS/MiniVIBE/MiniVIBE/Persistence/MiniVIBE.xcdatamodeld/MiniVIBE.xcdatamodel/contents
  iOS/MiniVIBE/MiniVIBE/Persistence/Persistence.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/LocalRepository.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+emitEvent.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/MockServerView/MockServerView.swift
Labels: 📍 Feat, 📱 iOS

#143 [WEB] auth 리다이렉트 분기처리 코드 수정 & 아티스트 카드 애니메이션 효과
  backend/src/route/auth/controller.ts
  frontend/src/components/Common/Card/ArtistCard/index.tsx
Labels: 👩‍💻 Web, 👾 frontend, 📡 backend, 🛠 fix

#144 [WEB] Fix: 빌드 오류 수정
  frontend/src/components/Common/Card/ArtistCard/index.tsx
Labels: 👩‍💻 Web, 🛠 fix

#147 MoveEvent추가 및 적용, StateObject로 변경
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/AsyncImageView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/DetailHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/ FiveRowSongGridViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+emitEvent.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryAlbumView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryArtistView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/DJStationItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/DJStationItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/DJStationSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/HomeDJStaionDetail/DJStationDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/HomeDJStationSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/MagazineSection/MagazineSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/SummarySection/SummarySectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/MockServerView/MockServerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/MockItemFactory.swift
Labels: 📍 Feat, 📱 iOS

#150 탭 이벤트 구현 및 추가, 버그 수정
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/String+EventParameters.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+emitEvent.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryAlbumView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/DJStationSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayHeaderView.swift
Labels: 📍 Feat, 📱 iOS

#152 Error Event 추가
  iOS/MiniVIBE/MiniVIBE/Injected/DependencyInjector.swift
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/String+EventParameters.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+emitEvent.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/MagazineSection/MagazineSectionView.swift
Labels: 📍 Feat, 📱 iOS

#145 [FE] Magazine Detail Header 매거진 헤더 & Layout Footer 레이아웃 푸터 UI 작성 및 내용 추가
  frontend/pages/magazines/[id].tsx
  frontend/src/components/Layout/Footer/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/pages/Detail/Magazine/index.tsx
  frontend/src/styles/global-styles.ts
Labels: 🎨 style, 👩‍💻 Web, 👾 frontend, 📍 Feat

#148 [BE] 토큰 만료 시간 제거, 로그인 여부와 관계 없이 로그 추가하는 기능 구현
  backend/src/passport/jwt.ts
  backend/src/route/auth/controller.ts
  backend/src/route/log/controller.ts
Labels: ⚡️API, 👩‍💻 Web, 📍 Feat, 📡 backend, 🧥 refactor

#154 멤버십 유도뷰, 기능, Progress View 구현 ( 야크털 깎기 .. )
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+emitEvent.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/CurrentPath.swift
Labels: 📍 Feat, 📱 iOS

#157 [WEB] Fix : 빌드 오류 수정
  frontend/src/api/index.tsx
  frontend/src/components/Layout/SideBar/Header/index.tsx
Labels: 👩‍💻 Web, 🛠 fix

#158 [BE] 커스텀 JWT 인증 미들웨어 추가 및 적용
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/middlewares/auth.ts
  backend/src/passport/index.ts
  backend/src/passport/jwt.ts
  backend/src/route/index.ts
  backend/src/route/library/album/controller.ts
  backend/src/route/log/controller.ts
  backend/src/route/sample/index.ts
  backend/src/route/users/controller.ts
  backend/src/route/users/index.ts
Labels: ⚡️API, 👩‍💻 Web, 📍 Feat, 📡 backend, 🧥 refactor

#163 다크 모드 추가, KeyChain 구현, 아이패드용 아이콘 추가
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Persistence/Persistence.swift
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-152.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-167.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-20.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-29.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-40.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-41.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-58.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-76.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-80.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/VIBEBackground.colorset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/VIBETitle.colorset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Info.plist
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/MoreHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/PlayShuffleHeaderButton.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/Color+vibePink.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+vibeTitle1.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+vibeTitle2.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+vibeTitle3.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/NewsItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/ArtistSection/ArtistSection.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/HomeDJStaionDetail/DJStationDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/NowSection/NowSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayFooterView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/KeyChain.swift
Labels: 📍 Feat, 📱 iOS

#164 iPad 호환 및 ProgressView 수정
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Models/Song.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/ImageItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/CGFloat+ImageWidths.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/CGFloat+oneItemImageWidth.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/CGFloat+twoItemImageWidth.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryAlbumView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryArtistView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/NewsItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/HomeDJStaionDetail/DJStationDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/MockItemFactory.swift
Labels: 📍 Feat, 📱 iOS

#165 다크모드 버튼 추가 및 초기 다크모드로 강제
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/CGFloat+ImageWidths.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/GenreSectionView.swift
Labels: 📍 Feat, 📱 iOS

#166 Merge branch iOS into develop
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Models/Song.swift
  iOS/MiniVIBE/MiniVIBE/Persistence/Persistence.swift
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-152.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-167.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-20.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-29.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-40.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-41.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-58.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-76.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/AppIcon.appiconset/Icon-80.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/VIBEBackground.colorset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/VIBETitle.colorset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Info.plist
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/ImageItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/MoreHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/PlayShuffleHeaderButton.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/CGFloat+ImageWidths.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/CGFloat+oneItemImageWidth.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/CGFloat+twoItemImageWidth.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/Color+vibePink.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+vibeTitle1.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+vibeTitle2.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+vibeTitle3.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryAlbumView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryArtistView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/GenreSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/NewsItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/ArtistSection/ArtistSection.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/HomeDJStaionDetail/DJStationDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/NowSection/NowSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayFooterView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/KeyChain.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/MockItemFactory.swift
Labels: 📱 iOS

#167 모달뷰는 다크모드가 적용되지 않던 버그 수정
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
Labels: 📱 iOS, 🛠 fix

#168 버그 수정
  iOS/MiniVIBE/MiniVIBE/Injected/DependencyInjector.swift
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
Labels: 📱 iOS

#170 성능 향상
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/AsyncImageView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/ImageItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/SectionScrollView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
Labels: ✨ Performance Optimization, 📱 iOS, 🛠 fix

#171 Merge to develop
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/AsyncImageView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/ImageItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/SectionScrollView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
Labels: 📱 iOS

#160 [BE] 플레이리스트 조회 API 추가
  backend/src/route/playlist/controller.ts
  backend/src/route/playlist/index.ts
Labels: ⚡️API, 👩‍💻 Web, 📍 Feat, 📡 backend

#161 [FE] Playbar 재생버튼, 1분 미리보기, Playlist Up/Down 개발, PlayReducer-ContextAPI
  frontend/pages/_app.tsx
  frontend/src/components/Layout/Footer/index.tsx
  frontend/src/components/Layout/PlayBar/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/context/play.tsx
  frontend/src/pages/Detail/Magazine/index.tsx
Labels: 👩‍💻 Web, 👾 frontend

#162 [BE & FE] Feat: cookie 접근 및 header에 담아 api요청 테스트 & AuthContext 작성
  backend/src/passport/jwt.ts
  backend/src/passport/naver.ts
  backend/src/route/library/album/controller.ts
  backend/src/route/library/album/index.ts
  backend/src/route/library/artist/controller.ts
  backend/src/route/library/artist/index.ts
  backend/src/route/library/playlist/controller.ts
  backend/src/route/library/playlist/index.ts
  backend/src/route/library/track/controller.ts
  backend/src/route/library/track/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/album/[id].tsx
  frontend/pages/artist/[id].tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/today.tsx
  frontend/src/api/index.tsx
  frontend/src/components/Common/A/index.tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/components/Common/Carousel/index.tsx
  frontend/src/components/Common/Dropdown/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/NavList/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/index.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/auth.tsx
  frontend/src/context/sampleContext.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/Library/MyTrack/index.tsx
  frontend/src/utils/getRandomUserId.tsx
Labels: 👩‍💻 Web, 👾 frontend, 📍 Feat, 📡 backend

#172 [WEB] Fix: passport-jwt 삭제 및 보관함 API에서 하드코딩 된 사용자 정보 제거
  backend/src/passport/jwt.ts
  backend/src/route/index.ts
  backend/src/route/library/album/controller.ts
  backend/src/route/library/album/index.ts
  backend/src/route/library/artist/controller.ts
  backend/src/route/library/artist/index.ts
  backend/src/route/library/playlist/controller.ts
  backend/src/route/library/playlist/index.ts
  backend/src/route/library/track/controller.ts
  backend/src/route/library/track/index.ts
  frontend/src/components/Layout/SideBar/NavBar/index.tsx
Labels: ⚡️API, 👩‍💻 Web, 🛠 fix

#176 DarkMode StatusBar Content Type, TabView onAppear가 여러번 불리는 이슈 수정
  iOS/MiniVIBE/MiniVIBE/Resources/Info.plist
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
Labels: 📱 iOS, 🛠 fix

#173 [FE] 에러 로깅 커스텀 훅 추가
  frontend/src/components/Layout/index.tsx
  frontend/src/hooks/useLogError.ts
Labels: 👩‍💻 Web, 👾 frontend, 📍 Feat

#180 모든환경에 호환되게 PlayingBar View 수정, PreferenceKey 제거
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/HomeDJStaionDetail/DJStationDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/MockItemFactory.swift
Labels: 📱 iOS, 🛠 fix

#183 HTTP리퀘스트에 토큰 포함, Reachability 수정, 코어데이터 객체 레이어 분리
  iOS/MiniVIBE/MiniVIBE/Persistence/Persistence.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/LocalRepository.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+emitEvent.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/Reachability.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/RequestProviding.swift
Labels: 📍 Feat, 📱 iOS

#182 [BE] Fix: 데이터베이스 연결 동기화
  backend/src/app.ts
Labels: 📡 backend, 🚫 bug, 🛠 fix

#188 [FE] token 하드코딩 부분 삭제 & localStorage에 토큰을 추가 및 쿠키삭제 로직 구현 & Dropdown 이벤트테스트
  frontend/.env.development
  frontend/.env.production
  frontend/pages/_app.tsx
  frontend/pages/library/albums/index.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/library/playlists/index.tsx
  frontend/pages/library/tracks/index.tsx
  frontend/pages/today.tsx
  frontend/src/components/AlbumList/index.tsx
  frontend/src/components/ArtistList/index.tsx
  frontend/src/components/Common/Dropdown/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/index.tsx
  frontend/src/components/PlaylistList/index.tsx
  frontend/src/components/TrackList/index.tsx
  frontend/src/constants/dropdownText.ts
  frontend/src/context/AuthContext.tsx
  frontend/src/hooks/useEventHandler.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/Library/MyAlbum/index.tsx
  frontend/src/utils/logEventHandler.ts
  frontend/tsconfig.json
Labels: 👩‍💻 Web, 👾 frontend, 📍 Feat

#189 [WEB] 빌드오류 수정 & 로드 스피너 추가
  backend/src/middlewares/auth.ts
  frontend/pages/album/[id].tsx
  frontend/pages/artist/[id].tsx
  frontend/pages/library/albums/index.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/library/playlists/index.tsx
  frontend/pages/library/tracks/index.tsx
  frontend/pages/magazines/[id].tsx
  frontend/pages/playlist/[id].tsx
  frontend/pages/today.tsx
  frontend/pages/track/[id].tsx
  frontend/public/images/spinner3.gif
  frontend/src/components/ArtistList/index.tsx
  frontend/src/components/Common/Dropdown/index.tsx
  frontend/src/components/Common/Modal/index.tsx
  frontend/src/components/Common/SampleSection/RelatedArtist.tsx
  frontend/src/components/Common/SampleSection/RelatedPlaylist.tsx
  frontend/src/components/Common/Spinner/index.tsx
  frontend/src/utils/logEventHandler.ts
Labels: 👩‍💻 Web, 🛠 fix

#190 [BE] 빌드오류 수정 및 iOS token 리다이렉트 url 변경
  backend/src/route/auth/controller.ts
Labels: 👩‍💻 Web, 🛠 fix

#191 [WEB] Fix: 빌드오류 수정(대소문자 수정)
  backend/src/services/mag/index.ts
  backend/src/services/playlist/index.ts
Labels: 👩‍💻 Web

#192 [WEB] Fix: 빌드오류 수정(대소문자 수정)
  backend/src/route/mag/controller.ts
  backend/src/route/track/controller.ts
  backend/src/services/mag/index.ts
  backend/src/services/playlist/index.ts
Labels: 👩‍💻 Web

#187 자체 Event Universal FrameWork 구축
  iOS/MiniVIBE/EventEmitter.framework/EventEmitter
  iOS/MiniVIBE/EventEmitter.framework/Headers/EventEmitter-Swift.h
  iOS/MiniVIBE/EventEmitter.framework/Headers/EventEmitter.h
  iOS/MiniVIBE/EventEmitter.framework/Info.plist
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/Project/arm64.swiftsourceinfo
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/Project/x86_64.swiftsourceinfo
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/arm64-apple-ios.swiftdoc
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/arm64-apple-ios.swiftmodule
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/arm64.swiftdoc
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/arm64.swiftmodule
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/x86_64.swiftdoc
  iOS/MiniVIBE/EventEmitter.framework/Modules/EventEmitter.swiftmodule/x86_64.swiftmodule
  iOS/MiniVIBE/EventEmitter.framework/Modules/module.modulemap
  iOS/MiniVIBE/EventEmitter.framework/_CodeSignature/CodeResources
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Repositories/FakeServerRepository.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/LocalRepository.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/ServerRepository.swift
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/login.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/login.imageset/profileImage(1)-1.jpg
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/login.imageset/profileImage(1)-2.jpg
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/login.imageset/profileImage(1).jpg
  iOS/MiniVIBE/MiniVIBE/Services/EventService.swift
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/Common/DetailHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Extension/View+emitEvent.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/HomeDJStaionDetail/DJStationDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/MagazineSection/MagazineSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/GenreSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/MockServerView/MockServerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
Labels: 🍇 Chore, 👯‍♂️ PairProgramming, 📱 iOS

#194 코드 리뷰 반영 - 에러 로깅에 console.error 사용
  backend/src/app.ts
  backend/src/route/album/controller.ts
  backend/src/route/artist/controller.ts
  backend/src/route/library/album/controller.ts
  backend/src/route/library/artist/controller.ts
  backend/src/route/library/playlist/controller.ts
  backend/src/route/library/track/controller.ts
  backend/src/route/mag/controller.ts
  backend/src/route/playlist/controller.ts
  backend/src/route/track/controller.ts
  backend/src/route/users/controller.ts
Labels: 🍇 Chore, 👩‍💻 Web

#195 [BE] fix: 매거진 API의 쿼리 변경
  backend/src/services/mag/index.ts
Labels: ⚡️API, 📡 backend, 🛠 fix

#197 [BE] 아티스트 상세 API의 트랙 정보에 앨범 정보 추가
  backend/src/services/artist/index.ts
Labels: ⚡️API, 📡 backend, 🛠 fix

#201 [FE] 앨범 디테일 페이지, 말줄임표 css 작업
  frontend/src/components/Common/MagTopItem/index.tsx
  frontend/src/components/Common/TrackItem/index.tsx
Labels: 👩‍💻 Web, 👾 frontend

#204 [WEB] 회원가입/로그아웃 이벤트 로깅 & Dropdown 코드 리팩토링 & 드롭다운 클릭 이벤트 로깅
  backend/src/middlewares/auth.ts
  backend/src/models/Log.ts
  backend/src/passport/naver.ts
  frontend/.env.development
  frontend/pages/album/[id].tsx
  frontend/pages/artist/[id].tsx
  frontend/pages/library/albums/index.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/library/playlists/index.tsx
  frontend/pages/library/tracks/index.tsx
  frontend/pages/magazines/[id].tsx
  frontend/pages/playlist/[id].tsx
  frontend/pages/today.tsx
  frontend/pages/track/[id].tsx
  frontend/src/components/ArtistList/index.tsx
  frontend/src/components/Common/A/index.tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/components/Common/Card/AlbumCard/index.tsx
  frontend/src/components/Common/Card/MagCard/index.tsx
  frontend/src/components/Common/Card/PlaylistCard/index.tsx
  frontend/src/components/Common/Dropdown/AuthDropdown.tsx
  frontend/src/components/Common/Dropdown/BoxDropdown.tsx
  frontend/src/components/Common/Dropdown/index.tsx
  frontend/src/components/Common/MagTopItem/index.tsx
  frontend/src/components/Common/Modal/index.tsx
  frontend/src/components/Common/TrackItem/index.tsx
  frontend/src/components/Layout/Footer/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/index.tsx
  frontend/src/components/TrackList/index.tsx
  frontend/src/hooks/useEventHandler.tsx
  frontend/src/pages/Detail/Album/index.tsx
  frontend/src/pages/Detail/Magazine/index.tsx
  frontend/src/pages/Detail/Track/index.tsx
  frontend/src/pages/Library/MyAlbum/index.tsx
  frontend/src/pages/Library/MyArtist/index.tsx
  frontend/src/pages/Library/MyMixtape/index.tsx
  frontend/src/pages/Library/MyPlaylist/index.tsx
  frontend/src/pages/Library/MyTrack/index.tsx
Labels: 👩‍💻 Web, 👾 frontend, 📍 Feat, 📡 backend

#205 [BE] Fix: 필요한 곳에서만 inner join 사용
  backend/src/entities/Album.ts
  backend/src/entities/Track.ts
  backend/src/services/artist/index.ts
  backend/src/services/mag/index.ts
Labels: ⚡️API, 📡 backend, 🛠 fix

#206 [FE] 아티스트 디테일페이지 수정
  frontend/src/components/Common/CircleImage/index.tsx
  frontend/src/components/TrackList/index.tsx
  frontend/src/pages/Detail/Album/index.tsx
  frontend/src/pages/Detail/Artist/index.tsx
Labels: 👩‍💻 Web, 👾 frontend

#208 [BE] 로그 Bulk Insert API 추가
  backend/src/route/log/controller.ts
  backend/src/route/log/index.ts
  backend/src/services/log/index.ts
Labels: ⚡️API, 📍 Feat, 📡 backend

#207 서버와 이벤트 양식 맞추기, 자체 프레임워크 업데이트
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/Enviroments/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/CoreDataEvent.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/Date+customDateFormat.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/ErrorEvent.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/Event+Encodable.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/EventName.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/MoveEvent.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/TapEvent.swift
  iOS/MiniVIBE/MiniVIBE/Repositories/RealServerRepository.swift
  iOS/MiniVIBE/MiniVIBE/System/MiniVIBEApp.swift
  iOS/MiniVIBE/MiniVIBE/UI/ChartView/ChartView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/LibraryView/LibraryView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/SearchView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/DJStationMoreView/DJStationMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/DJStationSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/MockServerView/MockServerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/VideoView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/RequestProviding.swift
  iOS/MiniVIBE/Podfile.lock
Labels: 📱 iOS

#210 [WEB] 아티스트 디테일 좋아요/취소 & 플레이리스트 디테일 페이지 & PlayBar, SideBar 이벤트 로깅 & 플레이리스트에 추가하는 로직 구현 & 쿠키 여부 검증하는 로직 추가
  .eslintrc.js
  backend/src/models/Log.ts
  backend/src/services/playlist/index.ts
  frontend/pages/library/albums/index.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/library/playlists/index.tsx
  frontend/pages/library/tracks/index.tsx
  frontend/pages/today.tsx
  frontend/src/components/AlbumList/index.tsx
  frontend/src/components/ArtistList/index.tsx
  frontend/src/components/Common/A/index.tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/components/Common/Card/ArtistCard/index.tsx
  frontend/src/components/Common/Dropdown/ArtistDropdown.tsx
  frontend/src/components/Common/Dropdown/AuthDropdown.tsx
  frontend/src/components/Common/Dropdown/BoxDropdown.tsx
  frontend/src/components/Common/PlayTrackItem/index.tsx
  frontend/src/components/Layout/PlayBar/index.tsx
  frontend/src/components/Layout/SideBar/Header/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/NavList/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/index.tsx
  frontend/src/components/PlaylistList/index.tsx
  frontend/src/components/TrackList/index.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/PlayContext.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/Detail/Album/index.tsx
  frontend/src/pages/Detail/Artist/index.tsx
  frontend/src/pages/Detail/Playlist/index.tsx
Labels: ⚡️API, 🎨 style, 👩‍💻 Web, 👾 frontend, 📍 Feat, 📡 backend

#211 [FE] 클라이언트 에러를 서버로 보내는 로직 추가
  frontend/src/hooks/useLogError.ts
Labels: 👾 frontend, 📍 Feat

#218 UX측면 이슈 해결, 이벤트 연동, 데모영상
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/Enviroments/MusicPlayer.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/EventName.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/LibraryEvent.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/LoginEvent.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/MusicEvent.swift
  iOS/MiniVIBE/MiniVIBE/Models/Events/String+EventParameters.swift
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/ArtistSection/Artists.imageset/Artists.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/DJStationDetail1.imageset/5100133.jpg
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/DJStationDetail1.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/DJStationDetail2.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/DJStationDetail2.imageset/VIBE_공통_잠못드는밤.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/DJStationDetail3.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/DJStationDetail3.imageset/VIBE_공통_캐롤베스트.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/HomeDJStationSection4.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/HomeDJStationSection4.imageset/mood_4_Sad.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/HomeDJStationSection5.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/HomeDJStationSection5.imageset/mood_5_Love.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/HomeDJStationSection6.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/HomeDJStationSection6.imageset/mood_6_Broken.png
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/mixTape.imageset/Contents.json
  iOS/MiniVIBE/MiniVIBE/Resources/Assets.xcassets/HomeView/HomeDJStationSection/mixTape.imageset/Image.png
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/FiveRowSongGridSection/FiveRowSongGridView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistDetailView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/PlayListSection/PlaylistSectionViewModel.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/MusicPlayerView.swift
  iOS/MiniVIBE/MiniVIBE/UI/PlayingBar/NowPlayingBarView.swift
  iOS/MiniVIBE/MiniVIBE/UI/SearchVIew/NewsItemView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/ArtistSection/ArtistSection.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/DJStationMoreView/DJStationMoreView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/DJStationSection/DJStationSectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/SummarySection/SummaryItem.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/SummarySection/SummarySectionView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayHeaderView.swift
  iOS/MiniVIBE/MiniVIBE/UI/TodayView/TodayView.swift
  iOS/MiniVIBE/MiniVIBE/UI/VideoView/MockServerView/MockServerView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/MockItemFactory.swift
Labels: 📱 iOS

#219 [WEB] 코드 리팩토링
  README.md
  backend/src/entities/Album.ts
  backend/src/services/album/index.ts
  frontend/pages/album/[id].tsx
  frontend/pages/artist/[id].tsx
  frontend/pages/index.tsx
  frontend/pages/library/albums/index.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/today.tsx
  frontend/src/components/Common/A/index.tsx
  frontend/src/components/Common/BoxItem/index.tsx
  frontend/src/components/Common/Card/AlbumCard/index.tsx
  frontend/src/components/Common/Card/ArtistCard/index.tsx
  frontend/src/components/Common/CircleImage/index.tsx
  frontend/src/components/Common/Dropdown/ArtistDropdown.tsx
  frontend/src/components/Common/Dropdown/AuthDropdown.tsx
  frontend/src/components/Common/Dropdown/BoxDropdown.tsx
  frontend/src/components/Common/PlayTrackItem/index.tsx
  frontend/src/components/EventWrapper/ClickEventWrapper.tsx
  frontend/src/components/EventWrapper/LibraryEventWrapper.tsx
  frontend/src/components/Layout/PlayBar/index.tsx
  frontend/src/components/PlaylistList/index.tsx
  frontend/src/components/Template/Library/index.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/PlayContext.tsx
  frontend/src/data/DescriptionSample.ts
  frontend/src/hooks/useEventHandler.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/Detail/Album/index.tsx
  frontend/src/pages/Detail/Artist/index.tsx
  frontend/src/pages/Detail/Track/index.tsx
Labels: 👩‍💻 Web, 🧥 refactor

#223 Server Repository Test
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/UI/ContentView.swift
  iOS/MiniVIBE/MiniVIBE/Utilities/ItemResponse.swift
  iOS/MiniVIBE/MiniVIBETests/Extension/CoreData+Equatable.swift
  iOS/MiniVIBE/MiniVIBETests/Extension/ItemResponse+Encodable.swift
  iOS/MiniVIBE/MiniVIBETests/Extension/Magazine+Equatable.swift
  iOS/MiniVIBE/MiniVIBETests/Extension/NetworkError+Equatable.swift
  iOS/MiniVIBE/MiniVIBETests/Mock/FailPersistenceController.swift
  iOS/MiniVIBE/MiniVIBETests/Mock/MockRequest.swift
  iOS/MiniVIBE/MiniVIBETests/Mock/TestPersistenceController.swift
  iOS/MiniVIBE/MiniVIBETests/NetworkTests.swift
  iOS/MiniVIBE/MiniVIBETests/ServerRepositoryTests.swift
Labels: 👀 test, 📱 iOS

#224 Test: ServerRepository Test 2
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Repositories/RealServerRepository.swift
  iOS/MiniVIBE/MiniVIBETests/Extension/Event+Equatable.swift
  iOS/MiniVIBE/MiniVIBETests/ServerRepositoryTests.swift
Labels: 👀 test, 📱 iOS

#225 [WEB] getLogs api 구현 & log를 시각적으로 보여주는 dimmed Components 구현
  backend/src/route/log/controller.ts
  backend/src/route/log/index.ts
  backend/src/services/log/index.ts
  frontend/pages/album/[id].tsx
  frontend/pages/artist/[id].tsx
  frontend/pages/library/albums/index.tsx
  frontend/pages/library/artists/index.tsx
  frontend/pages/library/playlists/index.tsx
  frontend/pages/library/tracks/index.tsx
  frontend/pages/magazines/[id].tsx
  frontend/pages/playlist/[id].tsx
  frontend/pages/today.tsx
  frontend/pages/track/[id].tsx
  frontend/src/components/AlbumList/index.tsx
  frontend/src/components/Common/Card/AlbumCard/index.tsx
  frontend/src/components/Common/Card/ArtistCard/index.tsx
  frontend/src/components/Common/Dropdown/BoxDropdown.tsx
  frontend/src/components/Common/PlayTrackItem/index.tsx
  frontend/src/components/Common/SampleSection/RelatedArtist.tsx
  frontend/src/components/Layout/PlayBar/index.tsx
  frontend/src/components/Layout/SideBar/NavBar/index.tsx
  frontend/src/hooks/useEventHandler.tsx
  frontend/src/pages/Detail/Album/index.tsx
  frontend/src/pages/Detail/Artist/index.tsx
  frontend/src/pages/Detail/Magazine/index.tsx
  frontend/src/pages/Detail/Playlist/index.tsx
  frontend/src/pages/Detail/Track/index.tsx
  frontend/src/pages/Library/MyAlbum/index.tsx
  frontend/src/pages/Library/MyArtist/index.tsx
  frontend/src/pages/Library/MyPlaylist/index.tsx
  frontend/src/pages/Library/MyTrack/index.tsx
  frontend/src/pages/Today/index.tsx
  frontend/src/utils/getMultipleNames.js
  frontend/src/utils/getMultipleNames.ts
  frontend/src/utils/getRefererFromHeader.ts
  frontend/src/utils/getTokenFromCookie.ts
  frontend/src/utils/logEventHandler.ts
Labels: ⚡️API, 👩‍💻 Web, 👾 frontend, 📍 Feat, 📡 backend, 🧥 refactor

#226 EventService 테스트 코드 작성
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/Events/CoreDataEvent.swift
  iOS/MiniVIBE/MiniVIBETests/EventServiceTests.swift
Labels: 👀 test, 📱 iOS

#227 Merge iOS into dev
  iOS/MiniVIBE/MiniVIBE.xcodeproj/project.pbxproj
  iOS/MiniVIBE/MiniVIBE/Models/Events/CoreDataEvent.swift
  iOS/MiniVIBE/MiniVIBE/UI/Components/AlbumSection/AlbumDetailView.swift
  iOS/MiniVIBE/MiniVIBETests/EventServiceTests.swift
  iOS/MiniVIBE/MiniVIBETests/LocalRepositoryTests.swift
  iOS/MiniVIBE/MiniVIBETests/PersistenceControllerTests.swift
  iOS/MiniVIBE/MiniVIBETests/ServerRepositoryTests.swift
Labels: 📱 iOS

#228 [WEB] 비로그인시 메세지 노출되는 컴포넌트 변경 (버그 수정)
  README.md
  frontend/src/components/AlbumList/index.tsx
  frontend/src/components/ArtistList/index.tsx
  frontend/src/components/Layout/PlayBar/index.tsx
  frontend/src/components/PlaylistList/index.tsx
  frontend/src/components/TrackList/index.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/pages/Library/MyAlbum/index.tsx
  frontend/src/pages/Library/MyArtist/index.tsx
  frontend/src/pages/Library/MyPlaylist/index.tsx
  frontend/src/pages/Library/MyTrack/index.tsx
Labels: 👩‍💻 Web, 🛠 fix

#230 [WEB] 누락된 props 추가
  frontend/src/components/Layout/PlayBar/index.tsx
Labels: 👩‍💻 Web, 🛠 fix

#231 [BE] getToken iPad 분기처리 로직 추가
  backend/src/route/auth/controller.ts
Labels: 👩‍💻 Web, 🛠 fix

#232 [BE] iPad 분기 로직 수정
  backend/src/route/auth/controller.ts
Labels: 👩‍💻 Web, 🛠 fix

#233 [BE] Fix : 모바일과 웹 auth route 분리
  backend/src/route/auth/controller.ts
  backend/src/route/auth2/controller.ts
  backend/src/route/auth2/index.ts
  backend/src/route/index.ts
Labels: 👩‍💻 Web, 🛠 fix

#235 [WEB] 주석 제거 및 사용하지 않는 코드 삭제
  .github/workflows/web.yml
  event.sample.js
  frontend/next.config.js
  frontend/pages/_app.tsx
  frontend/src/components/Common/Button/LargeButton.tsx
  frontend/src/components/Common/Dropdown/BoxDropdown.tsx
  frontend/src/components/Common/Modal/index.tsx
  frontend/src/components/Common/PlayTrackItem/index.tsx
  frontend/src/components/EventWrapper/ClickEventWrapper.tsx
  frontend/src/components/EventWrapper/LibraryEventWrapper.tsx
  frontend/src/components/Layout/SideBar/NavBar/NavList/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/components/Template/Content/index.tsx
  frontend/src/components/Template/Detail/index.tsx
  frontend/src/components/Template/Library/index.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/PlayContext.tsx
  frontend/src/context/sampleContext.tsx
  frontend/src/hooks/useEventHandler.tsx
  frontend/src/hooks/useFetch.ts
  frontend/src/styles/themes.ts
  frontend/src/utils/logEventHandler.ts
Labels: 👩‍💻 Web, 🧥 refactor
